main {
    bottom: 0;
    display: flex;
    left: 0;
    /* position: absolute; */
    right: 0;
    top: 80px;
    z-index: -1;
    height: 47rem;
  }

nav {
    flex: 0 0 200px;
    overflow-y: auto;
  }
nav a{
    /* margin: 0px 5px 0px 5px; */
    margin-bottom: 2.5px;
}

.song-container{
    border: 3px solid cyan;
    background-color: black;
    border-radius: 5px;
    margin: 1px 5px 1px 5px;
    padding: 3px;
    width: 150px;
}

.song-title{
    padding: 0px;
    margin: 0px;
}

.song-description{
    padding: 0px;
    margin: 0px;
}

.song-detail{
    display: flex;
    flex: 1 0 0;
    justify-content: center;
    overflow-y: auto;
}

nav h3 {
text-align: center;
margin: 0 30px 10px 0;
font-weight: 900;
font-size: 30px;
}

.fab{
    display: flex;
    margin-bottom:  10px;
}

.fab:hover {
    cursor: pointer;
}

.create{
    padding-left: 7px;
    font-weight: 600;
    font-size: 20px;
}
 .song-detail img {
    width: 250px;
    height: 250px;
    padding: 8px;
 }
