main {
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 80px;
    z-index: -1;
  }

nav {
    flex: 0 0 200px;
    overflow-y: auto;
  }

.song-container{
    border: 3px solid cyan;
    background-color: black;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
    width: 150px;
}

.song-title{
    padding: 0px;
    margin: 0px;
}

.song-description{
    padding: 0px;
    margin: 0px;
}

.song-detail{
    display: flex;
    flex: 1 0 0;
    justify-content: center;
    overflow-y: auto;
}
