.cred-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    display: flex;
    width: 350px;
    margin: 3px;
    justify-content: space-between;
}

.username-cred {
    margin-left: 50px;
}

.password-cred{
    margin-left: 70px;
}

button{
    margin: 10px;
}
