html{
    background-color: gray;
}

.nav-bar{
    list-style: none;
    margin: 0px 10px 0px 10px;
    padding: 0;
    height: 3.5rem
}

.nav-items{
    display: flex;
    align-items: center;
    border: 3px solid cyan;
    background-color: black;
    border-radius: 50px;
    height: 40px;
    color: white;
    padding: 3px
}

a{
    width: 10%;
    margin: 5px;
    text-decoration: none;
    color: white;
}

.active{
    color: cyan;
    text-decoration: none;
}

.profile-dropdown{
    display: flex;
    flex-direction: column;
    color: white;
    justify-items: flex-end;
    top: 30px;
    margin-top: 3.5em;
}

/* .nav-items{
    justify-content: ;
} */

.my-stuff-button{
    background: none;
    color: white;
    font-weight: 400;
}

.my-stuff-button:hover{
    cursor: pointer;
}

.my-stuff-dropdown{
    position: absolute;
    display: flex;
    width: auto;
    offset-position: top 100px;
}

.my-stuff{
    margin: 10px;
    width: 100%;
}
